header {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    color: #3d3a38;
}

.navLink.:global(active) {
    color: #2E45CC !important;
    background-color: transparent !important;
}