header {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    color: #3d3a38;
}

.navbar-nav .nav-link.active {
    color: red !important;
}

.nav-pills .nav-link.active {
    background-color: transparent !important;
}