/* :root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  line-height: 1.24;
  font-weight: 400;

  color: rgba(246, 246, 246, 0.87);
  background-color: #242424;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  line-height: 1.24;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
} */